#!/bin/bash
######################################################################
# A batchtools launch script template for a Torque/PBS
#
# Author: Henrik Bengtsson [tweaked by Michael Hallquist]
######################################################################

## User scheduler specification such as account/allocation
<% if (!is.null(resources$sched_args)) { 
  cat(paste("#PBS", resources$sched_args), sep="\n")
} %>

## Job name:
#PBS -N <%= if (exists("job.name", mode = "character")) job.name else job.hash %>

## Direct streams to logfile:
#PBS -o <%= log.file %>

## Merge standard error and output:
#PBS -j oe

## Resources needed:
<% if (!is.null(resources$pbs_directives)) {
  opts <- unlist(resources$pbs_directives, use.names = TRUE)
  opts <- sprintf("%s=%s", names(opts), opts)
  opts <- paste(opts, collapse = ",") %>
#PBS -l <%= opts %>
<% } %>

## User compute environment setup (e.g., module load commands)
<% if (!is.null(resources$compute_environment)) { 
  cat(resources$compute_environment, sep="\n")
} %>

## Launch R and evaluated the batchtools R job
Rscript -e 'batchtools::doJobCollection("<%= uri %>")'
